    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: red;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
    h1{
        text-align:center;
        }
    h1, header, footer, .container {
        margin-top: 64px;

    }