<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>Lokafy</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
    </head>
    <body>
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
        .bg-light {
        background-color: #f7f7f7 !important;
        }
    </style>

        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="https://lokafy.com/static/images/logos/logo-blue.png?fffbaf6f6903" style="width=50px;height: 50px;" /></a>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item text-black">
                            <a class="nav-link text-black" href="#">Book a Tour</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black" href="#">PRICING</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black" href="#">REVIEWS</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black" href="#">FAQS</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black" href="#">ABOUT</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black" href="#">SIGN UP</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black" href="#">LOG IN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}
    </body>
</html>