{% extends "base.html" %}
{% block content %}

<style>
*{
margin:0px;
padding:0px;
box-sizing:border-box;
}
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
    h1{
        text-align:center;
        }
    h1, header, footer, .container {
        margin-top: 64px;
     }
    .col-md-8 {
        margin-left: 15%;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>REVIEWS</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row " style="margin:5px;">
        <div class="d-flex justify-content-center flex-wrap">
            {% for post in post_list %}
            <div class="card col-6" ">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <img src="media/{{ post.image }}" style="width: 100%; height: auto;">
                    <h4 class="author" class="card-text text-muted h6" style="font-weight: bold; color: rgba(52, 219, 235); font-family:'Nunito Sans';">{{ post.author }}</h4>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}">+ Read More</a>
                </div>
            </div>

{% endfor %}

{% if is_paginated %}
    <nav aria-label="Page navigation conatiner"></nav>
        <ul class="pagination justify-content-center">
{% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
{% endif %}
{% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
{% endif %}
        </ul>
  </nav>
</div>

{% endif %}
{%endblock%}