

{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">More reviews</h5>
    <div class="card-body">
        <img class="card-img-top" src="https://lokafy.s3.amazonaws.com/citypicture/44_helsinki-3778356_citypicture.jpg.384x160_q85_box-0%2C0%2C3500%2C1966_crop-scale_detail_upscale.jpg" alt="Card image cap">
        <a href="{% url 'post_detail' post.slug  %}">from Helsinki</a>
    </div>
    <div class="card-body">
        <img class="card-img-top" src="https://lokafy.s3.amazonaws.com/citypicture/38_citypicture.jpg.384x160_q85_box-0%2C284%2C5317%2C3279_crop-scale_detail_upscale.jpg" alt="Card image cap">
        <a href="">from Helsinki</a>
    </div>
    <div class="card-body">
        <img class="card-img-top" src="https://lokafy.s3.amazonaws.com/userreview/938/bff121c8ca6f462b9606a7997d030bff_userpicturebff121c8ca6f462b9606a7997d030bff.384x16_q85_box-0%2C0%2C3264%2C2448_crop-scale_detail_upscale.jpg" alt="Card image cap">
        <a href="">from Helsinki</a>
    </div>
    <div class="card-body">
        <img class="card-img-top" src="https://lokafy.s3.amazonaws.com/citypicture/71_citypicture.jpg.384x160_q85_box-0%2C977%2C2304%2C2275_crop-scale_detail_upscale.jpg" alt="Card image cap">
        <a href="">from Helsinki</a>
    </div>
</div>
</div>

{% endblock sidebar %}